n8n-workflows/outreach/wf-01-lead-enrichment.json
{
  "id": "ZsdHBj6GVFMDNtwL",
  "name": "WF-01 \u2014 Lead Enrichment Pipeline",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Read Active Sheet",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *, date_added::text AS date_added FROM outreach_leads ORDER BY created_at ASC",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "tEi1y3q2RyS0OOgV",
          "name": "GE Outreach Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Has New Rows?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst newRows = rows.filter(row => row.json.status === 'New');\nif (newRows.length === 0) {\n  return [];\n}\n\n// Count processed today\nconst today = new Date().toISOString().split('T')[0];\nconst processedToday = rows.filter(row => {\n  const dateAdded = row.json.date_added || '';\n  const status = row.json.status || '';\n  return dateAdded.startsWith(today) && status !== 'New';\n}).length;\n\nconst dailyLimit = parseInt($env.OUTREACH_DAILY_LIMIT || '50');\n\nreturn [{\n  json: {\n    newRows: newRows.map(r => r.json),\n    processedToday,\n    dailyLimit,\n    limitReached: processedToday >= dailyLimit\n  }\n}];"
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Filter New Rows & Check Limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-002",
              "leftValue": "={{ $json.limitReached }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Limit Reached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "[LIMIT] Daily enrichment limit reached (50/50)"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Slack: Limit Reached",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst newRows = data.newRows || [];\nconst daily = data.dailyLimit || 50;\nconst processed = data.processedToday || 0;\nconst remaining = daily - processed;\n\nif (remaining <= 0 || newRows.length === 0) {\n  return [];\n}\n\n// Process ONE lead per run to ensure clean data flow\nconst row = newRows[0];\nreturn [{\n  json: {\n    ...row,\n    _rowIndex: 0\n  }\n}];"
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Prepare Rows to Process",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Set Status: Enriching",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE outreach_leads SET status = 'Enriching', updated_at = NOW() WHERE id = {{ $json.id }} RETURNING *, date_added::text AS date_added",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "tEi1y3q2RyS0OOgV",
          "name": "GE Outreach Postgres"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/domain-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.website_url }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.HUNTER_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 30000
          }
        }
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Hunter: Find Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const hunterResponse = $input.first().json;\nconst leadData = $('Prepare Rows to Process').first().json;\n\nlet email = '';\nlet firstName = leadData.first_name || '';\n\nif (hunterResponse.data && hunterResponse.data.emails && hunterResponse.data.emails.length > 0) {\n  const firstEmail = hunterResponse.data.emails[0];\n  email = firstEmail.value || '';\n  if (!firstName && firstEmail.first_name) {\n    firstName = firstEmail.first_name;\n  }\n}\n\n// Check Hunter usage warning\nconst meta = hunterResponse.meta || {};\nconst usedRequests = meta.calls_per_month || 0;\n\nreturn [{\n  json: {\n    ...leadData,\n    first_name: firstName,\n    email: email,\n    _hunterEmail: email,\n    _hunterUsage: usedRequests,\n    _needsSnov: !email\n  }\n}];"
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Parse Hunter Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "cond-003",
              "leftValue": "={{ $json._hunterUsage }}",
              "rightValue": 23,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Hunter Near Limit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2220,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=[WARNING] Hunter API: {{ $json._hunterUsage }}/25 monthly searches used"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Slack: Hunter Warning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "cond-004",
              "leftValue": "={{ $json._needsSnov }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "Email Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.snov.io/v1/get-emails-by-domain",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.website_url }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.SNOVIO_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 30000
          }
        }
      },
      "id": "a1b2c3d4-0014-0014-0014-000000000014",
      "name": "Snov.io: Fallback Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const snovResponse = $input.first().json;\nconst leadData = $('Email Found?').first().json;\n\nlet email = '';\nlet firstName = leadData.first_name || '';\n\nif (snovResponse.emails && snovResponse.emails.length > 0) {\n  email = snovResponse.emails[0].email || '';\n  if (!firstName && snovResponse.emails[0].firstName) {\n    firstName = snovResponse.emails[0].firstName;\n  }\n}\n\nreturn [{\n  json: {\n    ...leadData,\n    first_name: firstName,\n    email: email,\n    _snovEmail: email,\n    _emailFound: !!email\n  }\n}];"
      },
      "id": "a1b2c3d4-0015-0015-0015-000000000015",
      "name": "Parse Snov Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "cond-005",
              "leftValue": "={{ $json._emailFound }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0016-0016-0016-000000000016",
      "name": "Snov Found Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3100,
        200
      ]
    },
    {
      "id": "a1b2c3d4-0017-0017-0017-000000000017",
      "name": "Set Status: Not_Found",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3320,
        100
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE outreach_leads SET status = 'Not_Found', updated_at = NOW() WHERE id = {{ $json.id }} RETURNING *, date_added::text AS date_added",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "tEi1y3q2RyS0OOgV",
          "name": "GE Outreach Postgres"
        }
      }
    },
    {
      "id": "a1b2c3d4-0018-0018-0018-000000000018",
      "name": "Log Not_Found Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3540,
        100
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO outreach_errors (lead_id, workflow, error_type, error_message, retry_count, resolved) VALUES ({{ $json.id }}, 'WF-01', 'Permanent', 'No email found via Hunter or Snov.io', 0, false) RETURNING id",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "tEi1y3q2RyS0OOgV",
          "name": "GE Outreach Postgres"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=[NOT_FOUND] {{ $json.company }} \u2014 no email found via Hunter or Snov.io"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0019-0019-0019-000000000019",
      "name": "Slack: Not Found",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge items from both Hunter success and Snov.io success paths\nconst item = $input.first().json;\n\n// Get email from whichever path found it\nconst email = item.email || item._hunterEmail || item._snovEmail || '';\n\nreturn [{\n  json: {\n    ...item,\n    email: email\n  }\n}];"
      },
      "id": "a1b2c3d4-0020-0020-0020-000000000020",
      "name": "Merge Email Paths",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        380
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.website_url }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0021-0021-0021-000000000021",
      "name": "Fetch Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        380
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const leadData = $('Merge Email Paths').first().json;\nlet websiteSnippet = '';\n\ntry {\n  const body = $input.first().json?.body || $input.first().json?.data || '';\n  const text = typeof body === 'string' ? body : JSON.stringify(body);\n  // Strip HTML tags\n  const stripped = text.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  websiteSnippet = stripped.substring(0, 200);\n} catch (e) {\n  websiteSnippet = '';\n}\n\nreturn [{\n  json: {\n    ...leadData,\n    _websiteSnippet: websiteSnippet || leadData.company\n  }\n}];"
      },
      "id": "a1b2c3d4-0022-0022-0022-000000000022",
      "name": "Extract Website Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3540,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 100,\n  \"system\": \"Generate a 15-word personalized icebreaker for a cold email to an agency founder. Use the company name and website snippet. Be specific, not generic. Output ONLY the icebreaker text, nothing else.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Company: {{ $json.company }}\\nWebsite snippet: {{ $json._websiteSnippet }}\\nCountry: {{ $json.country }}\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 20000,
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 30000
          }
        }
      },
      "id": "a1b2c3d4-0023-0023-0023-000000000023",
      "name": "Claude: Generate Icebreaker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        380
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst leadData = $('Extract Website Text').first().json;\n\nlet icebreaker = '';\ntry {\n  icebreaker = claudeResponse.content[0].text.trim();\n} catch (e) {\n  icebreaker = `I noticed ${leadData.company}'s work in the performance marketing space`;\n}\n\nreturn [{\n  json: {\n    ...leadData,\n    icebreaker\n  }\n}];"
      },
      "id": "a1b2c3d4-0024-0024-0024-000000000024",
      "name": "Parse Icebreaker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3980,
        380
      ]
    },
    {
      "id": "a1b2c3d4-0025-0025-0025-000000000025",
      "name": "Dedup: Read All Emails",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4200,
        380
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, status FROM outreach_leads WHERE email IS NOT NULL",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "tEi1y3q2RyS0OOgV",
          "name": "GE Outreach Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allRows = $input.all();\nconst leadData = $('Parse Icebreaker').first().json;\nconst email = leadData.email || '';\n\nif (!email) {\n  return [{ json: { ...leadData, _isDuplicate: false } }];\n}\n\n// Check for duplicate email\nconst isDuplicate = allRows.some(row => {\n  const rowEmail = (row.json.email || '').toLowerCase().trim();\n  const targetEmail = email.toLowerCase().trim();\n  return rowEmail === targetEmail && row.json.status !== 'New';\n});\n\nreturn [{ json: { ...leadData, _isDuplicate: isDuplicate } }];"
      },
      "id": "a1b2c3d4-0026-0026-0026-000000000026",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4420,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "cond-006",
              "leftValue": "={{ $json._isDuplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0027-0027-0027-000000000027",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4640,
        380
      ]
    },
    {
      "id": "a1b2c3d4-0028-0028-0028-000000000028",
      "name": "Set Status: Duplicate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4860,
        280
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE outreach_leads SET status = 'Duplicate', updated_at = NOW() WHERE id = {{ $json.id }} RETURNING *, date_added::text AS date_added",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "tEi1y3q2RyS0OOgV",
          "name": "GE Outreach Postgres"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.saleshandy.com/api/v1/sequence/{{ $env.SALESHANDY_SEQUENCE_ID }}/prospects",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth-Token",
              "value": "={{ $env.SALESHANDY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prospects\": [\n    {\n      \"firstName\": \"{{ $json.first_name }}\",\n      \"email\": \"{{ $json.email }}\",\n      \"company\": \"{{ $json.company }}\",\n      \"customFields\": {\n        \"icebreaker\": \"{{ $json.icebreaker }}\"\n      }\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 30000
          }
        }
      },
      "id": "a1b2c3d4-0029-0029-0029-000000000029",
      "name": "Saleshandy: Add Prospect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4860,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "id": "a1b2c3d4-0030-0030-0030-000000000030",
      "name": "Update Sheet: Active",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5080,
        480
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE outreach_leads SET first_name = '{{ ($('Check Duplicate').first().json.first_name || '').replace(/'/g, \"''\") }}', email = '{{ ($('Check Duplicate').first().json.email || '').replace(/'/g, \"''\") }}', icebreaker = '{{ ($('Check Duplicate').first().json.icebreaker || '').replace(/'/g, \"''\") }}', status = 'Active', updated_at = NOW() WHERE id = {{ $('Check Duplicate').first().json.id }} RETURNING *, date_added::text AS date_added",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "tEi1y3q2RyS0OOgV",
          "name": "GE Outreach Postgres"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"[ENRICHED] {{ $json.first_name }} at {{ $json.company }} \u2014 added to sequence\"}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0031-0031-0031-000000000031",
      "name": "Slack: Enriched",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5300,
        480
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Active Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Active Sheet": {
      "main": [
        [
          {
            "node": "Has New Rows?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Rows?": {
      "main": [
        [
          {
            "node": "Filter New Rows & Check Limit",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Filter New Rows & Check Limit": {
      "main": [
        [
          {
            "node": "Limit Reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Reached?": {
      "main": [
        [
          {
            "node": "Slack: Limit Reached",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Rows to Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Rows to Process": {
      "main": [
        [
          {
            "node": "Set Status: Enriching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status: Enriching": {
      "main": [
        [
          {
            "node": "Hunter: Find Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter: Find Email": {
      "main": [
        [
          {
            "node": "Parse Hunter Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hunter Result": {
      "main": [
        [
          {
            "node": "Hunter Near Limit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter Near Limit?": {
      "main": [
        [
          {
            "node": "Slack: Hunter Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Hunter Warning": {
      "main": [
        [
          {
            "node": "Email Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Found?": {
      "main": [
        [
          {
            "node": "Snov.io: Fallback Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Email Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snov.io: Fallback Email": {
      "main": [
        [
          {
            "node": "Parse Snov Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Snov Result": {
      "main": [
        [
          {
            "node": "Snov Found Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snov Found Email?": {
      "main": [
        [
          {
            "node": "Set Status: Not_Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Email Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status: Not_Found": {
      "main": [
        [
          {
            "node": "Log Not_Found Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Not_Found Error": {
      "main": [
        [
          {
            "node": "Slack: Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Email Paths": {
      "main": [
        [
          {
            "node": "Fetch Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website": {
      "main": [
        [
          {
            "node": "Extract Website Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Website Text": {
      "main": [
        [
          {
            "node": "Claude: Generate Icebreaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Generate Icebreaker": {
      "main": [
        [
          {
            "node": "Parse Icebreaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Icebreaker": {
      "main": [
        [
          {
            "node": "Dedup: Read All Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup: Read All Emails": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Set Status: Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Saleshandy: Add Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saleshandy: Add Prospect": {
      "main": [
        [
          {
            "node": "Update Sheet: Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet: Active": {
      "main": [
        [
          {
            "node": "Slack: Enriched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "activeVersionId": "ee9f5294-e0ae-42eb-9114-c1f55c567919",
  "versionCounter": 74,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-23T15:55:56.534Z",
      "createdAt": "2026-03-23T15:55:56.534Z",
      "role": "workflow:owner",
      "workflowId": "ZsdHBj6GVFMDNtwL",
      "projectId": "p6CktwzYe014OMO4",
      "project": {
        "updatedAt": "2026-03-18T02:32:32.132Z",
        "createdAt": "2026-03-18T02:28:16.439Z",
        "id": "p6CktwzYe014OMO4",
        "name": "Jatin Agrawal <jatin@growthescalators.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "885eaafd-e163-477f-b37c-5d5ea216f1c4"
      }
    }
  ],
  "tags": [],
  "parentFolder": null,
  "activeVersion": {
    "updatedAt": "2026-03-25T19:21:33.018Z",
    "createdAt": "2026-03-25T19:21:33.018Z",
    "versionId": "ee9f5294-e0ae-42eb-9114-c1f55c567919",
    "workflowId": "ZsdHBj6GVFMDNtwL",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 5
              }
            ]
          }
        },
        "id": "a1b2c3d4-0001-0001-0001-000000000001",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          300
        ]
      },
      {
        "id": "a1b2c3d4-0002-0002-0002-000000000002",
        "name": "Read Active Sheet",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          460,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT *, date_added::text AS date_added FROM outreach_leads ORDER BY created_at ASC",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "tEi1y3q2RyS0OOgV",
            "name": "GE Outreach Postgres"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-001",
                "leftValue": "={{ $items().length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "a1b2c3d4-0003-0003-0003-000000000003",
        "name": "Has New Rows?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          680,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all();\nconst newRows = rows.filter(row => row.json.status === 'New');\nif (newRows.length === 0) {\n  return [];\n}\n\n// Count processed today\nconst today = new Date().toISOString().split('T')[0];\nconst processedToday = rows.filter(row => {\n  const dateAdded = row.json.date_added || '';\n  const status = row.json.status || '';\n  return dateAdded.startsWith(today) && status !== 'New';\n}).length;\n\nconst dailyLimit = parseInt($env.OUTREACH_DAILY_LIMIT || '50');\n\nreturn [{\n  json: {\n    newRows: newRows.map(r => r.json),\n    processedToday,\n    dailyLimit,\n    limitReached: processedToday >= dailyLimit\n  }\n}];"
        },
        "id": "a1b2c3d4-0004-0004-0004-000000000004",
        "name": "Filter New Rows & Check Limit",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          900,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-002",
                "leftValue": "={{ $json.limitReached }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "a1b2c3d4-0005-0005-0005-000000000005",
        "name": "Limit Reached?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1120,
          200
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "text",
                "value": "[LIMIT] Daily enrichment limit reached (50/50)"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "a1b2c3d4-0006-0006-0006-000000000006",
        "name": "Slack: Limit Reached",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1340,
          100
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json;\nconst newRows = data.newRows || [];\nconst daily = data.dailyLimit || 50;\nconst processed = data.processedToday || 0;\nconst remaining = daily - processed;\n\nif (remaining <= 0 || newRows.length === 0) {\n  return [];\n}\n\n// Process ONE lead per run to ensure clean data flow\nconst row = newRows[0];\nreturn [{\n  json: {\n    ...row,\n    _rowIndex: 0\n  }\n}];"
        },
        "id": "a1b2c3d4-0007-0007-0007-000000000007",
        "name": "Prepare Rows to Process",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1340,
          300
        ]
      },
      {
        "id": "a1b2c3d4-0008-0008-0008-000000000008",
        "name": "Set Status: Enriching",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1560,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE outreach_leads SET status = 'Enriching', updated_at = NOW() WHERE id = {{ $json.id }} RETURNING *, date_added::text AS date_added",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "tEi1y3q2RyS0OOgV",
            "name": "GE Outreach Postgres"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.hunter.io/v2/domain-search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "domain",
                "value": "={{ $json.website_url }}"
              },
              {
                "name": "api_key",
                "value": "={{ $env.HUNTER_API_KEY }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            },
            "timeout": 15000,
            "retry": {
              "enabled": true,
              "maxTries": 3,
              "waitBetweenTries": 30000
            }
          }
        },
        "id": "a1b2c3d4-0009-0009-0009-000000000009",
        "name": "Hunter: Find Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1780,
          300
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const hunterResponse = $input.first().json;\nconst leadData = $('Prepare Rows to Process').first().json;\n\nlet email = '';\nlet firstName = leadData.first_name || '';\n\nif (hunterResponse.data && hunterResponse.data.emails && hunterResponse.data.emails.length > 0) {\n  const firstEmail = hunterResponse.data.emails[0];\n  email = firstEmail.value || '';\n  if (!firstName && firstEmail.first_name) {\n    firstName = firstEmail.first_name;\n  }\n}\n\n// Check Hunter usage warning\nconst meta = hunterResponse.meta || {};\nconst usedRequests = meta.calls_per_month || 0;\n\nreturn [{\n  json: {\n    ...leadData,\n    first_name: firstName,\n    email: email,\n    _hunterEmail: email,\n    _hunterUsage: usedRequests,\n    _needsSnov: !email\n  }\n}];"
        },
        "id": "a1b2c3d4-0010-0010-0010-000000000010",
        "name": "Parse Hunter Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true
            },
            "conditions": [
              {
                "id": "cond-003",
                "leftValue": "={{ $json._hunterUsage }}",
                "rightValue": 23,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "a1b2c3d4-0011-0011-0011-000000000011",
        "name": "Hunter Near Limit?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2220,
          200
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "text",
                "value": "=[WARNING] Hunter API: {{ $json._hunterUsage }}/25 monthly searches used"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "a1b2c3d4-0012-0012-0012-000000000012",
        "name": "Slack: Hunter Warning",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2440,
          100
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true
            },
            "conditions": [
              {
                "id": "cond-004",
                "leftValue": "={{ $json._needsSnov }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "a1b2c3d4-0013-0013-0013-000000000013",
        "name": "Email Found?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2440,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://api.snov.io/v1/get-emails-by-domain",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "domain",
                "value": "={{ $json.website_url }}"
              },
              {
                "name": "api_key",
                "value": "={{ $env.SNOVIO_API_KEY }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            },
            "timeout": 15000,
            "retry": {
              "enabled": true,
              "maxTries": 3,
              "waitBetweenTries": 30000
            }
          }
        },
        "id": "a1b2c3d4-0014-0014-0014-000000000014",
        "name": "Snov.io: Fallback Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2660,
          200
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const snovResponse = $input.first().json;\nconst leadData = $('Email Found?').first().json;\n\nlet email = '';\nlet firstName = leadData.first_name || '';\n\nif (snovResponse.emails && snovResponse.emails.length > 0) {\n  email = snovResponse.emails[0].email || '';\n  if (!firstName && snovResponse.emails[0].firstName) {\n    firstName = snovResponse.emails[0].firstName;\n  }\n}\n\nreturn [{\n  json: {\n    ...leadData,\n    first_name: firstName,\n    email: email,\n    _snovEmail: email,\n    _emailFound: !!email\n  }\n}];"
        },
        "id": "a1b2c3d4-0015-0015-0015-000000000015",
        "name": "Parse Snov Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2880,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true
            },
            "conditions": [
              {
                "id": "cond-005",
                "leftValue": "={{ $json._emailFound }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "a1b2c3d4-0016-0016-0016-000000000016",
        "name": "Snov Found Email?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3100,
          200
        ]
      },
      {
        "id": "a1b2c3d4-0017-0017-0017-000000000017",
        "name": "Set Status: Not_Found",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3320,
          100
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE outreach_leads SET status = 'Not_Found', updated_at = NOW() WHERE id = {{ $json.id }} RETURNING *, date_added::text AS date_added",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "tEi1y3q2RyS0OOgV",
            "name": "GE Outreach Postgres"
          }
        }
      },
      {
        "id": "a1b2c3d4-0018-0018-0018-000000000018",
        "name": "Log Not_Found Error",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3540,
          100
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO outreach_errors (lead_id, workflow, error_type, error_message, retry_count, resolved) VALUES ({{ $json.id }}, 'WF-01', 'Permanent', 'No email found via Hunter or Snov.io', 0, false) RETURNING id",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "tEi1y3q2RyS0OOgV",
            "name": "GE Outreach Postgres"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "text",
                "value": "=[NOT_FOUND] {{ $json.company }} \u2014 no email found via Hunter or Snov.io"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "a1b2c3d4-0019-0019-0019-000000000019",
        "name": "Slack: Not Found",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3760,
          100
        ]
      },
      {
        "parameters": {
          "jsCode": "// Merge items from both Hunter success and Snov.io success paths\nconst item = $input.first().json;\n\n// Get email from whichever path found it\nconst email = item.email || item._hunterEmail || item._snovEmail || '';\n\nreturn [{\n  json: {\n    ...item,\n    email: email\n  }\n}];"
        },
        "id": "a1b2c3d4-0020-0020-0020-000000000020",
        "name": "Merge Email Paths",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3100,
          380
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.website_url }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            },
            "timeout": 10000
          }
        },
        "id": "a1b2c3d4-0021-0021-0021-000000000021",
        "name": "Fetch Website",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3320,
          380
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const leadData = $('Merge Email Paths').first().json;\nlet websiteSnippet = '';\n\ntry {\n  const body = $input.first().json?.body || $input.first().json?.data || '';\n  const text = typeof body === 'string' ? body : JSON.stringify(body);\n  // Strip HTML tags\n  const stripped = text.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  websiteSnippet = stripped.substring(0, 200);\n} catch (e) {\n  websiteSnippet = '';\n}\n\nreturn [{\n  json: {\n    ...leadData,\n    _websiteSnippet: websiteSnippet || leadData.company\n  }\n}];"
        },
        "id": "a1b2c3d4-0022-0022-0022-000000000022",
        "name": "Extract Website Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3540,
          380
        ]
      },
      {
        "parameters": {
          "url": "https://api.anthropic.com/v1/messages",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.ANTHROPIC_API_KEY }}"
              },
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 100,\n  \"system\": \"Generate a 15-word personalized icebreaker for a cold email to an agency founder. Use the company name and website snippet. Be specific, not generic. Output ONLY the icebreaker text, nothing else.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Company: {{ $json.company }}\\nWebsite snippet: {{ $json._websiteSnippet }}\\nCountry: {{ $json.country }}\"\n    }\n  ]\n}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            },
            "timeout": 20000,
            "retry": {
              "enabled": true,
              "maxTries": 3,
              "waitBetweenTries": 30000
            }
          }
        },
        "id": "a1b2c3d4-0023-0023-0023-000000000023",
        "name": "Claude: Generate Icebreaker",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3760,
          380
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const claudeResponse = $input.first().json;\nconst leadData = $('Extract Website Text').first().json;\n\nlet icebreaker = '';\ntry {\n  icebreaker = claudeResponse.content[0].text.trim();\n} catch (e) {\n  icebreaker = `I noticed ${leadData.company}'s work in the performance marketing space`;\n}\n\nreturn [{\n  json: {\n    ...leadData,\n    icebreaker\n  }\n}];"
        },
        "id": "a1b2c3d4-0024-0024-0024-000000000024",
        "name": "Parse Icebreaker",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3980,
          380
        ]
      },
      {
        "id": "a1b2c3d4-0025-0025-0025-000000000025",
        "name": "Dedup: Read All Emails",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          4200,
          380
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id, email, status FROM outreach_leads WHERE email IS NOT NULL",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "tEi1y3q2RyS0OOgV",
            "name": "GE Outreach Postgres"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const allRows = $input.all();\nconst leadData = $('Parse Icebreaker').first().json;\nconst email = leadData.email || '';\n\nif (!email) {\n  return [{ json: { ...leadData, _isDuplicate: false } }];\n}\n\n// Check for duplicate email\nconst isDuplicate = allRows.some(row => {\n  const rowEmail = (row.json.email || '').toLowerCase().trim();\n  const targetEmail = email.toLowerCase().trim();\n  return rowEmail === targetEmail && row.json.status !== 'New';\n});\n\nreturn [{ json: { ...leadData, _isDuplicate: isDuplicate } }];"
        },
        "id": "a1b2c3d4-0026-0026-0026-000000000026",
        "name": "Check Duplicate",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4420,
          380
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true
            },
            "conditions": [
              {
                "id": "cond-006",
                "leftValue": "={{ $json._isDuplicate }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "a1b2c3d4-0027-0027-0027-000000000027",
        "name": "Is Duplicate?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          4640,
          380
        ]
      },
      {
        "id": "a1b2c3d4-0028-0028-0028-000000000028",
        "name": "Set Status: Duplicate",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          4860,
          280
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE outreach_leads SET status = 'Duplicate', updated_at = NOW() WHERE id = {{ $json.id }} RETURNING *, date_added::text AS date_added",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "tEi1y3q2RyS0OOgV",
            "name": "GE Outreach Postgres"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api.saleshandy.com/api/v1/sequence/{{ $env.SALESHANDY_SEQUENCE_ID }}/prospects",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Auth-Token",
                "value": "={{ $env.SALESHANDY_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"prospects\": [\n    {\n      \"firstName\": \"{{ $json.first_name }}\",\n      \"email\": \"{{ $json.email }}\",\n      \"company\": \"{{ $json.company }}\",\n      \"customFields\": {\n        \"icebreaker\": \"{{ $json.icebreaker }}\"\n      }\n    }\n  ]\n}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            },
            "timeout": 15000,
            "retry": {
              "enabled": true,
              "maxTries": 3,
              "waitBetweenTries": 30000
            }
          }
        },
        "id": "a1b2c3d4-0029-0029-0029-000000000029",
        "name": "Saleshandy: Add Prospect",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4860,
          480
        ],
        "onError": "continueRegularOutput"
      },
      {
        "id": "a1b2c3d4-0030-0030-0030-000000000030",
        "name": "Update Sheet: Active",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          5080,
          480
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE outreach_leads SET first_name = '{{ ($('Check Duplicate').first().json.first_name || '').replace(/'/g, \"''\") }}', email = '{{ ($('Check Duplicate').first().json.email || '').replace(/'/g, \"''\") }}', icebreaker = '{{ ($('Check Duplicate').first().json.icebreaker || '').replace(/'/g, \"''\") }}', status = 'Active', updated_at = NOW() WHERE id = {{ $('Check Duplicate').first().json.id }} RETURNING *, date_added::text AS date_added",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "tEi1y3q2RyS0OOgV",
            "name": "GE Outreach Postgres"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"text\": \"[ENRICHED] {{ $json.first_name }} at {{ $json.company }} \u2014 added to sequence\"}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "a1b2c3d4-0031-0031-0031-000000000031",
        "name": "Slack: Enriched",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5300,
          480
        ]
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Read Active Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Active Sheet": {
        "main": [
          [
            {
              "node": "Has New Rows?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has New Rows?": {
        "main": [
          [
            {
              "node": "Filter New Rows & Check Limit",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Filter New Rows & Check Limit": {
        "main": [
          [
            {
              "node": "Limit Reached?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit Reached?": {
        "main": [
          [
            {
              "node": "Slack: Limit Reached",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare Rows to Process",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Rows to Process": {
        "main": [
          [
            {
              "node": "Set Status: Enriching",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Status: Enriching": {
        "main": [
          [
            {
              "node": "Hunter: Find Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hunter: Find Email": {
        "main": [
          [
            {
              "node": "Parse Hunter Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Hunter Result": {
        "main": [
          [
            {
              "node": "Hunter Near Limit?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hunter Near Limit?": {
        "main": [
          [
            {
              "node": "Slack: Hunter Warning",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Email Found?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack: Hunter Warning": {
        "main": [
          [
            {
              "node": "Email Found?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Email Found?": {
        "main": [
          [
            {
              "node": "Snov.io: Fallback Email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Email Paths",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Snov.io: Fallback Email": {
        "main": [
          [
            {
              "node": "Parse Snov Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Snov Result": {
        "main": [
          [
            {
              "node": "Snov Found Email?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Snov Found Email?": {
        "main": [
          [
            {
              "node": "Set Status: Not_Found",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Email Paths",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Status: Not_Found": {
        "main": [
          [
            {
              "node": "Log Not_Found Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Not_Found Error": {
        "main": [
          [
            {
              "node": "Slack: Not Found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Email Paths": {
        "main": [
          [
            {
              "node": "Fetch Website",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Website": {
        "main": [
          [
            {
              "node": "Extract Website Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Website Text": {
        "main": [
          [
            {
              "node": "Claude: Generate Icebreaker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude: Generate Icebreaker": {
        "main": [
          [
            {
              "node": "Parse Icebreaker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Icebreaker": {
        "main": [
          [
            {
              "node": "Dedup: Read All Emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dedup: Read All Emails": {
        "main": [
          [
            {
              "node": "Check Duplicate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Duplicate": {
        "main": [
          [
            {
              "node": "Is Duplicate?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Duplicate?": {
        "main": [
          [
            {
              "node": "Set Status: Duplicate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Saleshandy: Add Prospect",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Saleshandy: Add Prospect": {
        "main": [
          [
            {
              "node": "Update Sheet: Active",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Sheet: Active": {
        "main": [
          [
            {
              "node": "Slack: Enriched",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jatin Agrawal",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-25T19:21:34.520Z",
        "id": 93,
        "workflowId": "ZsdHBj6GVFMDNtwL",
        "versionId": "ee9f5294-e0ae-42eb-9114-c1f55c567919",
        "event": "activated",
        "userId": "885eaafd-e163-477f-b37c-5d5ea216f1c4"
      }
    ]
  },
  "scopes": [
    "workflow:create",
    "workflow:delete",
    "workflow:execute",
    "workflow:execute-chat",
    "workflow:list",
    "workflow:move",
    "workflow:publish",
    "workflow:read",
    "workflow:share",
    "workflow:unpublish",
    "workflow:unshare",
    "workflow:update",
    "workflow:updateRedactionSetting"
  ],
  "checksum": "e57fab25e8ee20d000058c9d773169714f19f564d72cdf9de82ff8d790890d74"
}