n8n-workflows/outreach/wf-02-reply-handler.json
{
  "id": "4j0IdyPfLd4fxGvf",
  "name": "WF-02 \u2014 Reply Handler",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "saleshandy-reply",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook: Saleshandy Reply",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "saleshandy-reply-wf02"
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.first().json.headers || {};\nconst secret = (headers['x-webhook-secret'] || headers['X-Webhook-Secret'] || '').trim();\n\n// Try $env first, then process.env, then fallback to known value\nlet expectedSecret = '';\ntry {\n  expectedSecret = ($env.SALESHANDY_WEBHOOK_SECRET || '').trim();\n} catch(e) {\n  expectedSecret = 'ge-outreach-wh-2026-secure';\n}\n\nconst isValid = secret === expectedSecret && secret.length > 0;\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    _authValid: isValid,\n    _debug_secret_match: isValid,\n    _debug_secret_len: secret.length\n  }\n}];"
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000002",
      "name": "Validate Webhook Secret",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "cond-auth-001",
              "leftValue": "={{ $json._authValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1b2c3d4-0003-0003-0003-000000000003",
      "name": "Auth Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Unauthorized",
        "options": {
          "responseCode": 401
        }
      },
      "id": "b1b2c3d4-0004-0004-0004-000000000004",
      "name": "Return 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst prospect = body.prospect || body.data?.prospect || body;\nconst reply = body.reply || body.data?.reply || body;\n\nconst email = prospect.email || body.email || '';\nconst firstName = prospect.firstName || prospect.first_name || body.firstName || '';\nconst lastName = prospect.lastName || prospect.last_name || body.lastName || '';\nconst company = prospect.company || body.company || '';\nconst replyBody = reply.body || reply.text || reply.content || body.replyBody || body.message || '';\n\nreturn [{\n  json: {\n    email,\n    firstName,\n    lastName,\n    company,\n    replyBody\n  }\n}];"
      },
      "id": "b1b2c3d4-0005-0005-0005-000000000005",
      "name": "Extract Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 20,\n  \"system\": \"Classify this email reply into exactly ONE of these categories. Reply with ONLY the category name, nothing else.\\n\\nCategories:\\n- INTERESTED: wants to learn more, asks about pricing, availability, or next steps\\n- OBJECTION: interested but has concerns about trust, quality, pricing, or process\\n- NOT_NOW: not interested right now but open to future contact\\n- REFERRAL: not interested but suggests another agency or contact\\n- WRONG_PERSON: not the right contact, left company, or not an agency\\n- UNSUBSCRIBE: explicit opt-out request\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"From: {{ $json.firstName }} {{ $json.lastName }} at {{ $json.company }}\\nReply:\\n{{ $json.replyBody }}\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 20000,
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 15000
          }
        }
      },
      "id": "b1b2c3d4-0006-0006-0006-000000000006",
      "name": "Claude: Classify Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        380
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst leadData = $('Extract Payload').first().json;\n\nconst validCategories = ['INTERESTED','OBJECTION','NOT_NOW','REFERRAL','WRONG_PERSON','UNSUBSCRIBE'];\nlet classification = '';\n\ntry {\n  classification = claudeResponse.content[0].text.trim().toUpperCase();\n  if (!validCategories.includes(classification)) {\n    classification = 'INTERESTED'; // Safe fallback\n  }\n} catch (e) {\n  classification = 'INTERESTED'; // Fallback if Claude fails\n}\n\nconst aiFailed = !claudeResponse.content;\nconst replyPreview200 = (leadData.replyBody || '').substring(0, 200);\nconst replyPreview300 = (leadData.replyBody || '').substring(0, 300);\n\n// Compute re-engage date (90 days from now)\nconst reengageDate = new Date();\nreengageDate.setDate(reengageDate.getDate() + 90);\nconst reengageDateStr = reengageDate.toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    ...leadData,\n    classification,\n    aiFailed,\n    replyPreview200,\n    replyPreview300,\n    reengageDateStr\n  }\n}];"
      },
      "id": "b1b2c3d4-0007-0007-0007-000000000007",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        380
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "INTERESTED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INTERESTED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "OBJECTION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OBJECTION"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "NOT_NOW",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NOT_NOW"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "REFERRAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REFERRAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "WRONG_PERSON",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WRONG_PERSON"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "UNSUBSCRIBE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "UNSUBSCRIBE"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-0008-0008-0008-000000000008",
      "name": "Switch: Classification",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1560,
        380
      ]
    },
    {
      "id": "b1b2c3d4-0009-0009-0009-000000000009",
      "name": "Sheet: INTERESTED",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1780,
        100
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE outreach_leads SET status = 'Replied', reply_category = 'INTERESTED', notes = '{{ ($json.replyPreview200 || '').replace(/'/g, \"''\") }}', updated_at = NOW() WHERE email = '{{ ($json.email || '').replace(/'/g, \"''\") }}' RETURNING id",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "tEi1y3q2RyS0OOgV",
          "name": "GE Outreach Postgres"
        }
      }
    },
    {
      "parameters": {
        "url": "https://slack.com/api/chat.postMessage",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $env.JATIN_SLACK_USER_ID }}\",\n  \"text\": \"\ud83d\udd25 [INTERESTED] {{ $json.firstName }} at {{ $json.company }} replied!\\n\\nReply preview: {{ $json.replyPreview200 }}\\n\\nRespond ASAP \u2014 this is a hot lead.\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b1b2c3d4-0010-0010-0010-000000000010",
      "name": "Slack DM: INTERESTED",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        100
      ]
    },
    {
      "id": "b1b2c3d4-0011-0011-0011-000000000011",
      "name": "Sheet: OBJECTION",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1780,
        240
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE outreach_leads SET status = 'Replied', reply_category = 'OBJECTION', notes = '{{ ($json.replyPreview200 || '').replace(/'/g, \"''\") }}', updated_at = NOW() WHERE email = '{{ ($json.email || '').replace(/'/g, \"''\") }}' RETURNING id",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "tEi1y3q2RyS0OOgV",
          "name": "GE Outreach Postgres"
        }
      }
    },
    {
      "parameters": {
        "url": "https://slack.com/api/chat.postMessage",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $env.JATIN_SLACK_USER_ID }}\",\n  \"text\": \"\u26a0\ufe0f [OBJECTION] {{ $json.firstName }} at {{ $json.company }} has concerns:\\n\\nReply preview: {{ $json.replyPreview200 }}\\n\\nNeeds a personalized follow-up.\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b1b2c3d4-0012-0012-0012-000000000012",
      "name": "Slack DM: OBJECTION",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        240
      ]
    },
    {
      "id": "b1b2c3d4-0013-0013-0013-000000000013",
      "name": "Sheet: NOT_NOW",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1780,
        380
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE outreach_leads SET status = 'Replied', reply_category = 'NOT_NOW', notes = 'Re-engage after 90 days ({{ $json.reengageDateStr }}). {{ ($json.replyPreview200 || '').replace(/'/g, \"''\") }}', updated_at = NOW() WHERE email = '{{ ($json.email || '').replace(/'/g, \"''\") }}' RETURNING id",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "tEi1y3q2RyS0OOgV",
          "name": "GE Outreach Postgres"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"[NOT_NOW] {{ $json.firstName }} at {{ $json.company }} \u2014 queued for 90-day re-engage\"}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b1b2c3d4-0014-0014-0014-000000000014",
      "name": "Slack: NOT_NOW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        380
      ]
    },
    {
      "id": "b1b2c3d4-0015-0015-0015-000000000015",
      "name": "Sheet: REFERRAL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1780,
        520
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE outreach_leads SET status = 'Replied', reply_category = 'REFERRAL', notes = '{{ ($json.replyPreview300 || '').replace(/'/g, \"''\") }}', updated_at = NOW() WHERE email = '{{ ($json.email || '').replace(/'/g, \"''\") }}' RETURNING id",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "tEi1y3q2RyS0OOgV",
          "name": "GE Outreach Postgres"
        }
      }
    },
    {
      "parameters": {
        "url": "https://slack.com/api/chat.postMessage",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $env.JATIN_SLACK_USER_ID }}\",\n  \"text\": \"\ud83d\udc8e [REFERRAL] {{ $json.firstName }} at {{ $json.company }} suggested someone!\\n\\nReply: {{ $json.replyPreview300 }}\\n\\nCheck the reply for the referred contact and add them as a new lead.\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b1b2c3d4-0016-0016-0016-000000000016",
      "name": "Slack DM: REFERRAL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        520
      ]
    },
    {
      "id": "b1b2c3d4-0017-0017-0017-000000000017",
      "name": "Sheet: WRONG_PERSON",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1780,
        660
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE outreach_leads SET status = 'Closed', reply_category = 'WRONG_PERSON', notes = '{{ ($json.replyPreview200 || '').replace(/'/g, \"''\") }}', updated_at = NOW() WHERE email = '{{ ($json.email || '').replace(/'/g, \"''\") }}' RETURNING id",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "tEi1y3q2RyS0OOgV",
          "name": "GE Outreach Postgres"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"[WRONG_PERSON] {{ $json.firstName }} at {{ $json.company }} \u2014 removed from sequence\"}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b1b2c3d4-0018-0018-0018-000000000018",
      "name": "Slack: WRONG_PERSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        660
      ]
    },
    {
      "id": "b1b2c3d4-0019-0019-0019-000000000019",
      "name": "Sheet: UNSUBSCRIBE",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1780,
        800
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE outreach_leads SET status = 'Closed', reply_category = 'UNSUBSCRIBE', notes = '{{ ($json.replyPreview200 || '').replace(/'/g, \"''\") }}', updated_at = NOW() WHERE email = '{{ ($json.email || '').replace(/'/g, \"''\") }}' RETURNING id",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "tEi1y3q2RyS0OOgV",
          "name": "GE Outreach Postgres"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"[UNSUBSCRIBE] {{ $json.firstName }} at {{ $json.company }} \u2014 permanently removed\"}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b1b2c3d4-0020-0020-0020-000000000020",
      "name": "Slack: UNSUBSCRIBE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b1b2c3d4-0021-0021-0021-000000000021",
      "name": "Return 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2220,
        460
      ]
    }
  ],
  "connections": {
    "Webhook: Saleshandy Reply": {
      "main": [
        [
          {
            "node": "Validate Webhook Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Webhook Secret": {
      "main": [
        [
          {
            "node": "Auth Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Valid?": {
      "main": [
        [
          {
            "node": "Extract Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payload": {
      "main": [
        [
          {
            "node": "Claude: Classify Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Classify Reply": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Switch: Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Classification": {
      "main": [
        [
          {
            "node": "Sheet: INTERESTED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheet: OBJECTION",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheet: NOT_NOW",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheet: REFERRAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheet: WRONG_PERSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheet: UNSUBSCRIBE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet: INTERESTED": {
      "main": [
        [
          {
            "node": "Slack DM: INTERESTED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet: OBJECTION": {
      "main": [
        [
          {
            "node": "Slack DM: OBJECTION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet: NOT_NOW": {
      "main": [
        [
          {
            "node": "Slack: NOT_NOW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet: REFERRAL": {
      "main": [
        [
          {
            "node": "Slack DM: REFERRAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet: WRONG_PERSON": {
      "main": [
        [
          {
            "node": "Slack: WRONG_PERSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet: UNSUBSCRIBE": {
      "main": [
        [
          {
            "node": "Slack: UNSUBSCRIBE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack DM: INTERESTED": {
      "main": [
        [
          {
            "node": "Return 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack DM: OBJECTION": {
      "main": [
        [
          {
            "node": "Return 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: NOT_NOW": {
      "main": [
        [
          {
            "node": "Return 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack DM: REFERRAL": {
      "main": [
        [
          {
            "node": "Return 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: WRONG_PERSON": {
      "main": [
        [
          {
            "node": "Return 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: UNSUBSCRIBE": {
      "main": [
        [
          {
            "node": "Return 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "activeVersionId": "4a0e19f0-7184-4d2c-b640-64c6d7a39427",
  "versionCounter": 59,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-23T15:55:57.632Z",
      "createdAt": "2026-03-23T15:55:57.632Z",
      "role": "workflow:owner",
      "workflowId": "4j0IdyPfLd4fxGvf",
      "projectId": "p6CktwzYe014OMO4",
      "project": {
        "updatedAt": "2026-03-18T02:32:32.132Z",
        "createdAt": "2026-03-18T02:28:16.439Z",
        "id": "p6CktwzYe014OMO4",
        "name": "Jatin Agrawal <jatin@growthescalators.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "885eaafd-e163-477f-b37c-5d5ea216f1c4"
      }
    }
  ],
  "tags": [],
  "parentFolder": null,
  "activeVersion": {
    "updatedAt": "2026-03-25T18:33:53.997Z",
    "createdAt": "2026-03-25T18:33:53.997Z",
    "versionId": "4a0e19f0-7184-4d2c-b640-64c6d7a39427",
    "workflowId": "4j0IdyPfLd4fxGvf",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "saleshandy-reply",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "b1b2c3d4-0001-0001-0001-000000000001",
        "name": "Webhook: Saleshandy Reply",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "saleshandy-reply-wf02"
      },
      {
        "parameters": {
          "jsCode": "const headers = $input.first().json.headers || {};\nconst secret = (headers['x-webhook-secret'] || headers['X-Webhook-Secret'] || '').trim();\n\n// Try $env first, then process.env, then fallback to known value\nlet expectedSecret = '';\ntry {\n  expectedSecret = ($env.SALESHANDY_WEBHOOK_SECRET || '').trim();\n} catch(e) {\n  expectedSecret = 'ge-outreach-wh-2026-secure';\n}\n\nconst isValid = secret === expectedSecret && secret.length > 0;\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    _authValid: isValid,\n    _debug_secret_match: isValid,\n    _debug_secret_len: secret.length\n  }\n}];"
        },
        "id": "b1b2c3d4-0002-0002-0002-000000000002",
        "name": "Validate Webhook Secret",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true
            },
            "conditions": [
              {
                "id": "cond-auth-001",
                "leftValue": "={{ $json._authValid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "b1b2c3d4-0003-0003-0003-000000000003",
        "name": "Auth Valid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          680,
          300
        ]
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "Unauthorized",
          "options": {
            "responseCode": 401
          }
        },
        "id": "b1b2c3d4-0004-0004-0004-000000000004",
        "name": "Return 401",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          900,
          180
        ]
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst prospect = body.prospect || body.data?.prospect || body;\nconst reply = body.reply || body.data?.reply || body;\n\nconst email = prospect.email || body.email || '';\nconst firstName = prospect.firstName || prospect.first_name || body.firstName || '';\nconst lastName = prospect.lastName || prospect.last_name || body.lastName || '';\nconst company = prospect.company || body.company || '';\nconst replyBody = reply.body || reply.text || reply.content || body.replyBody || body.message || '';\n\nreturn [{\n  json: {\n    email,\n    firstName,\n    lastName,\n    company,\n    replyBody\n  }\n}];"
        },
        "id": "b1b2c3d4-0005-0005-0005-000000000005",
        "name": "Extract Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          900,
          380
        ]
      },
      {
        "parameters": {
          "url": "https://api.anthropic.com/v1/messages",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.ANTHROPIC_API_KEY }}"
              },
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 20,\n  \"system\": \"Classify this email reply into exactly ONE of these categories. Reply with ONLY the category name, nothing else.\\n\\nCategories:\\n- INTERESTED: wants to learn more, asks about pricing, availability, or next steps\\n- OBJECTION: interested but has concerns about trust, quality, pricing, or process\\n- NOT_NOW: not interested right now but open to future contact\\n- REFERRAL: not interested but suggests another agency or contact\\n- WRONG_PERSON: not the right contact, left company, or not an agency\\n- UNSUBSCRIBE: explicit opt-out request\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"From: {{ $json.firstName }} {{ $json.lastName }} at {{ $json.company }}\\nReply:\\n{{ $json.replyBody }}\"\n    }\n  ]\n}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            },
            "timeout": 20000,
            "retry": {
              "enabled": true,
              "maxTries": 3,
              "waitBetweenTries": 15000
            }
          }
        },
        "id": "b1b2c3d4-0006-0006-0006-000000000006",
        "name": "Claude: Classify Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1120,
          380
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const claudeResponse = $input.first().json;\nconst leadData = $('Extract Payload').first().json;\n\nconst validCategories = ['INTERESTED','OBJECTION','NOT_NOW','REFERRAL','WRONG_PERSON','UNSUBSCRIBE'];\nlet classification = '';\n\ntry {\n  classification = claudeResponse.content[0].text.trim().toUpperCase();\n  if (!validCategories.includes(classification)) {\n    classification = 'INTERESTED'; // Safe fallback\n  }\n} catch (e) {\n  classification = 'INTERESTED'; // Fallback if Claude fails\n}\n\nconst aiFailed = !claudeResponse.content;\nconst replyPreview200 = (leadData.replyBody || '').substring(0, 200);\nconst replyPreview300 = (leadData.replyBody || '').substring(0, 300);\n\n// Compute re-engage date (90 days from now)\nconst reengageDate = new Date();\nreengageDate.setDate(reengageDate.getDate() + 90);\nconst reengageDateStr = reengageDate.toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    ...leadData,\n    classification,\n    aiFailed,\n    replyPreview200,\n    replyPreview300,\n    reengageDateStr\n  }\n}];"
        },
        "id": "b1b2c3d4-0007-0007-0007-000000000007",
        "name": "Parse Classification",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1340,
          380
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.classification }}",
                      "rightValue": "INTERESTED",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "INTERESTED"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.classification }}",
                      "rightValue": "OBJECTION",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "OBJECTION"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.classification }}",
                      "rightValue": "NOT_NOW",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "NOT_NOW"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.classification }}",
                      "rightValue": "REFERRAL",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "REFERRAL"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.classification }}",
                      "rightValue": "WRONG_PERSON",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "WRONG_PERSON"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.classification }}",
                      "rightValue": "UNSUBSCRIBE",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "UNSUBSCRIBE"
              }
            ]
          },
          "options": {}
        },
        "id": "b1b2c3d4-0008-0008-0008-000000000008",
        "name": "Switch: Classification",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          1560,
          380
        ]
      },
      {
        "id": "b1b2c3d4-0009-0009-0009-000000000009",
        "name": "Sheet: INTERESTED",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1780,
          100
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE outreach_leads SET status = 'Replied', reply_category = 'INTERESTED', notes = '{{ ($json.replyPreview200 || '').replace(/'/g, \"''\") }}', updated_at = NOW() WHERE email = '{{ ($json.email || '').replace(/'/g, \"''\") }}' RETURNING id",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "tEi1y3q2RyS0OOgV",
            "name": "GE Outreach Postgres"
          }
        }
      },
      {
        "parameters": {
          "url": "https://slack.com/api/chat.postMessage",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $env.JATIN_SLACK_USER_ID }}\",\n  \"text\": \"\ud83d\udd25 [INTERESTED] {{ $json.firstName }} at {{ $json.company }} replied!\\n\\nReply preview: {{ $json.replyPreview200 }}\\n\\nRespond ASAP \u2014 this is a hot lead.\"\n}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "b1b2c3d4-0010-0010-0010-000000000010",
        "name": "Slack DM: INTERESTED",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2000,
          100
        ]
      },
      {
        "id": "b1b2c3d4-0011-0011-0011-000000000011",
        "name": "Sheet: OBJECTION",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1780,
          240
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE outreach_leads SET status = 'Replied', reply_category = 'OBJECTION', notes = '{{ ($json.replyPreview200 || '').replace(/'/g, \"''\") }}', updated_at = NOW() WHERE email = '{{ ($json.email || '').replace(/'/g, \"''\") }}' RETURNING id",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "tEi1y3q2RyS0OOgV",
            "name": "GE Outreach Postgres"
          }
        }
      },
      {
        "parameters": {
          "url": "https://slack.com/api/chat.postMessage",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $env.JATIN_SLACK_USER_ID }}\",\n  \"text\": \"\u26a0\ufe0f [OBJECTION] {{ $json.firstName }} at {{ $json.company }} has concerns:\\n\\nReply preview: {{ $json.replyPreview200 }}\\n\\nNeeds a personalized follow-up.\"\n}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "b1b2c3d4-0012-0012-0012-000000000012",
        "name": "Slack DM: OBJECTION",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2000,
          240
        ]
      },
      {
        "id": "b1b2c3d4-0013-0013-0013-000000000013",
        "name": "Sheet: NOT_NOW",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1780,
          380
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE outreach_leads SET status = 'Replied', reply_category = 'NOT_NOW', notes = 'Re-engage after 90 days ({{ $json.reengageDateStr }}). {{ ($json.replyPreview200 || '').replace(/'/g, \"''\") }}', updated_at = NOW() WHERE email = '{{ ($json.email || '').replace(/'/g, \"''\") }}' RETURNING id",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "tEi1y3q2RyS0OOgV",
            "name": "GE Outreach Postgres"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"text\": \"[NOT_NOW] {{ $json.firstName }} at {{ $json.company }} \u2014 queued for 90-day re-engage\"}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "b1b2c3d4-0014-0014-0014-000000000014",
        "name": "Slack: NOT_NOW",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2000,
          380
        ]
      },
      {
        "id": "b1b2c3d4-0015-0015-0015-000000000015",
        "name": "Sheet: REFERRAL",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1780,
          520
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE outreach_leads SET status = 'Replied', reply_category = 'REFERRAL', notes = '{{ ($json.replyPreview300 || '').replace(/'/g, \"''\") }}', updated_at = NOW() WHERE email = '{{ ($json.email || '').replace(/'/g, \"''\") }}' RETURNING id",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "tEi1y3q2RyS0OOgV",
            "name": "GE Outreach Postgres"
          }
        }
      },
      {
        "parameters": {
          "url": "https://slack.com/api/chat.postMessage",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $env.JATIN_SLACK_USER_ID }}\",\n  \"text\": \"\ud83d\udc8e [REFERRAL] {{ $json.firstName }} at {{ $json.company }} suggested someone!\\n\\nReply: {{ $json.replyPreview300 }}\\n\\nCheck the reply for the referred contact and add them as a new lead.\"\n}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "b1b2c3d4-0016-0016-0016-000000000016",
        "name": "Slack DM: REFERRAL",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2000,
          520
        ]
      },
      {
        "id": "b1b2c3d4-0017-0017-0017-000000000017",
        "name": "Sheet: WRONG_PERSON",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1780,
          660
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE outreach_leads SET status = 'Closed', reply_category = 'WRONG_PERSON', notes = '{{ ($json.replyPreview200 || '').replace(/'/g, \"''\") }}', updated_at = NOW() WHERE email = '{{ ($json.email || '').replace(/'/g, \"''\") }}' RETURNING id",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "tEi1y3q2RyS0OOgV",
            "name": "GE Outreach Postgres"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"text\": \"[WRONG_PERSON] {{ $json.firstName }} at {{ $json.company }} \u2014 removed from sequence\"}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "b1b2c3d4-0018-0018-0018-000000000018",
        "name": "Slack: WRONG_PERSON",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2000,
          660
        ]
      },
      {
        "id": "b1b2c3d4-0019-0019-0019-000000000019",
        "name": "Sheet: UNSUBSCRIBE",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1780,
          800
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE outreach_leads SET status = 'Closed', reply_category = 'UNSUBSCRIBE', notes = '{{ ($json.replyPreview200 || '').replace(/'/g, \"''\") }}', updated_at = NOW() WHERE email = '{{ ($json.email || '').replace(/'/g, \"''\") }}' RETURNING id",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "tEi1y3q2RyS0OOgV",
            "name": "GE Outreach Postgres"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"text\": \"[UNSUBSCRIBE] {{ $json.firstName }} at {{ $json.company }} \u2014 permanently removed\"}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "b1b2c3d4-0020-0020-0020-000000000020",
        "name": "Slack: UNSUBSCRIBE",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2000,
          800
        ]
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "OK",
          "options": {
            "responseCode": 200
          }
        },
        "id": "b1b2c3d4-0021-0021-0021-000000000021",
        "name": "Return 200 OK",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          2220,
          460
        ]
      }
    ],
    "connections": {
      "Webhook: Saleshandy Reply": {
        "main": [
          [
            {
              "node": "Validate Webhook Secret",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Webhook Secret": {
        "main": [
          [
            {
              "node": "Auth Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auth Valid?": {
        "main": [
          [
            {
              "node": "Extract Payload",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return 401",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Payload": {
        "main": [
          [
            {
              "node": "Claude: Classify Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude: Classify Reply": {
        "main": [
          [
            {
              "node": "Parse Classification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Classification": {
        "main": [
          [
            {
              "node": "Switch: Classification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch: Classification": {
        "main": [
          [
            {
              "node": "Sheet: INTERESTED",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sheet: OBJECTION",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sheet: NOT_NOW",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sheet: REFERRAL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sheet: WRONG_PERSON",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sheet: UNSUBSCRIBE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheet: INTERESTED": {
        "main": [
          [
            {
              "node": "Slack DM: INTERESTED",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheet: OBJECTION": {
        "main": [
          [
            {
              "node": "Slack DM: OBJECTION",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheet: NOT_NOW": {
        "main": [
          [
            {
              "node": "Slack: NOT_NOW",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheet: REFERRAL": {
        "main": [
          [
            {
              "node": "Slack DM: REFERRAL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheet: WRONG_PERSON": {
        "main": [
          [
            {
              "node": "Slack: WRONG_PERSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheet: UNSUBSCRIBE": {
        "main": [
          [
            {
              "node": "Slack: UNSUBSCRIBE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack DM: INTERESTED": {
        "main": [
          [
            {
              "node": "Return 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack DM: OBJECTION": {
        "main": [
          [
            {
              "node": "Return 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack: NOT_NOW": {
        "main": [
          [
            {
              "node": "Return 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack DM: REFERRAL": {
        "main": [
          [
            {
              "node": "Return 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack: WRONG_PERSON": {
        "main": [
          [
            {
              "node": "Return 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack: UNSUBSCRIBE": {
        "main": [
          [
            {
              "node": "Return 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jatin Agrawal",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-25T18:33:55.314Z",
        "id": 85,
        "workflowId": "4j0IdyPfLd4fxGvf",
        "versionId": "4a0e19f0-7184-4d2c-b640-64c6d7a39427",
        "event": "activated",
        "userId": "885eaafd-e163-477f-b37c-5d5ea216f1c4"
      }
    ]
  },
  "scopes": [
    "workflow:create",
    "workflow:delete",
    "workflow:execute",
    "workflow:execute-chat",
    "workflow:list",
    "workflow:move",
    "workflow:publish",
    "workflow:read",
    "workflow:share",
    "workflow:unpublish",
    "workflow:unshare",
    "workflow:update",
    "workflow:updateRedactionSetting"
  ],
  "checksum": "aa28b844f403a7d0d3d4199b71f4263333d30a906d49148f7cf7662de0ad55c7"
}