n8n-workflows/01-job-queue-processor.json
{
  "name": "01 - Job Queue Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Every 30 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, job_type, payload, tenant_id, idempotency_key FROM jobs WHERE status = 'pending' AND process_after <= NOW() ORDER BY process_after ASC LIMIT 10",
        "options": {}
      },
      "id": "node-fetch-pending-jobs",
      "name": "Fetch Pending Jobs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "Railway Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-jobs-condition",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-has-jobs",
      "name": "Has Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-split-batches",
      "name": "Process One at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 200]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.job_type }}",
                    "rightValue": "inbound_wa",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "inbound_wa"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.job_type }}",
                    "rightValue": "sequence_step",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sequence_step"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.job_type }}",
                    "rightValue": "hot_lead_alert",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hot_lead_alert"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.job_type }}",
                    "rightValue": "booking_processed",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "booking_processed"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.job_type }}",
                    "rightValue": "form_submit",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "form_submit"
            }
          ]
        },
        "options": {}
      },
      "id": "node-route-by-type",
      "name": "Route by Job Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://web-production-311da.up.railway.app/jobs/{{ $json.id }}/claim",
        "options": {}
      },
      "id": "node-claim-job",
      "name": "Claim Job (Mark Processing)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "node-exec-inbound-wa",
      "name": "Run: process-inbound-wa",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1560, 80],
      "notes": "Set workflowId to the ID of 02-process-inbound-wa after import"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "node-exec-sequence-step",
      "name": "Run: process-sequence-step",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1560, 200],
      "notes": "Set workflowId to the ID of 03-process-sequence-step after import"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "node-exec-hot-lead",
      "name": "Run: send-hot-lead-alert",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1560, 320],
      "notes": "Set workflowId to the ID of 04-hot-lead-alert after import"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://web-production-311da.up.railway.app/jobs/{{ $('Process One at a Time').item.json.id }}/complete",
        "options": {}
      },
      "id": "node-mark-complete",
      "name": "Mark Job Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 440]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://web-production-311da.up.railway.app/jobs/{{ $('Process One at a Time').item.json.id }}/fail",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "error",
              "value": "={{ $json.error?.message ?? 'Unknown error in n8n workflow' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-mark-failed",
      "name": "Mark Job Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 560]
    }
  ],
  "connections": {
    "Every 30 Seconds": {
      "main": [
        [{ "node": "Fetch Pending Jobs", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Pending Jobs": {
      "main": [
        [{ "node": "Has Jobs?", "type": "main", "index": 0 }]
      ]
    },
    "Has Jobs?": {
      "main": [
        [{ "node": "Process One at a Time", "type": "main", "index": 0 }],
        []
      ]
    },
    "Process One at a Time": {
      "main": [
        [{ "node": "Route by Job Type", "type": "main", "index": 0 }]
      ]
    },
    "Route by Job Type": {
      "main": [
        [{ "node": "Claim Job (Mark Processing)", "type": "main", "index": 0 }],
        [{ "node": "Claim Job (Mark Processing)", "type": "main", "index": 0 }],
        [{ "node": "Claim Job (Mark Processing)", "type": "main", "index": 0 }],
        [{ "node": "Mark Job Complete", "type": "main", "index": 0 }],
        [{ "node": "Mark Job Complete", "type": "main", "index": 0 }]
      ]
    },
    "Claim Job (Mark Processing)": {
      "main": [
        [
          { "node": "Run: process-inbound-wa", "type": "main", "index": 0 },
          { "node": "Run: process-sequence-step", "type": "main", "index": 0 },
          { "node": "Run: send-hot-lead-alert", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["queue", "automation"],
  "triggerCount": 0,
  "updatedAt": "2026-03-18T00:00:00.000Z",
  "versionId": "1"
}
