n8n-workflows/02-process-inbound-wa.json
{
  "name": "02 - Process Inbound WhatsApp",
  "nodes": [
    {
      "parameters": {},
      "id": "node-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "jobId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "tenantId",
              "value": "={{ $json.tenant_id }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "phone",
              "value": "={{ $json.payload.from }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "messageBody",
              "value": "={{ $json.payload.message_body }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "messageId",
              "value": "={{ $json.payload.message_id }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "contactName",
              "value": "={{ $json.payload.contact_name ?? 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "a7",
              "name": "firstName",
              "value": "={{ ($json.payload.contact_name ?? 'Unknown').split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "a8",
              "name": "lastName",
              "value": "={{ ($json.payload.contact_name ?? '').split(' ').slice(1).join(' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-extract-fields",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://web-production-311da.up.railway.app/contacts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "tenantId", "value": "={{ $json.tenantId }}" },
            { "name": "firstName", "value": "={{ $json.firstName }}" },
            { "name": "lastName", "value": "={{ $json.lastName }}" },
            { "name": "source", "value": "whatsapp_inbound" },
            {
              "name": "channels",
              "value": "={{ JSON.stringify([{channelType:'whatsapp',channelValue:$json.phone}]) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-find-or-create-contact",
      "name": "Find or Create Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://web-production-311da.up.railway.app/sequences/enrol",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "tenantId", "value": "={{ $('Extract Fields').item.json.tenantId }}" },
            { "name": "contactId", "value": "={{ $json.id }}" },
            { "name": "sequenceName", "value": "D2C Lead Nurture" },
            { "name": "startAfterMinutes", "value": "0" }
          ]
        },
        "options": {}
      },
      "id": "node-enrol-sequence",
      "name": "Enrol in D2C Lead Nurture",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.META_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.META_ACCESS_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "messaging_product", "value": "whatsapp" },
            { "name": "to", "value": "={{ $('Extract Fields').item.json.phone }}" },
            { "name": "type", "value": "template" },
            {
              "name": "template",
              "value": "={{ JSON.stringify({name:'welcome_d2c',language:{code:'en'},components:[]}) }}"
            }
          ]
        },
        "options": { "ignore4xx": true }
      },
      "id": "node-send-welcome-wa",
      "name": "Send Welcome WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://web-production-311da.up.railway.app/jobs/{{ $('Extract Fields').item.json.jobId }}/complete",
        "options": {}
      },
      "id": "node-complete-job",
      "name": "Mark Job Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Extract Fields", "type": "main", "index": 0 }]]
    },
    "Extract Fields": {
      "main": [[{ "node": "Find or Create Contact", "type": "main", "index": 0 }]]
    },
    "Find or Create Contact": {
      "main": [[{ "node": "Enrol in D2C Lead Nurture", "type": "main", "index": 0 }]]
    },
    "Enrol in D2C Lead Nurture": {
      "main": [[{ "node": "Send Welcome WhatsApp", "type": "main", "index": 0 }]]
    },
    "Send Welcome WhatsApp": {
      "main": [[{ "node": "Mark Job Complete", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["queue", "whatsapp"],
  "triggerCount": 0,
  "updatedAt": "2026-03-18T00:00:00.000Z",
  "versionId": "1"
}
