n8n-workflows/04-hot-lead-alert.json
{
  "name": "04 - Hot Lead Alert",
  "nodes": [
    {
      "parameters": {},
      "id": "node-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "e1", "name": "jobId", "value": "={{ $json.id }}", "type": "string" },
            { "id": "e2", "name": "contactName", "value": "={{ $json.payload.contactName }}", "type": "string" },
            { "id": "e3", "name": "score", "value": "={{ $json.payload.score }}", "type": "number" },
            { "id": "e4", "name": "tier", "value": "={{ $json.payload.tier }}", "type": "string" },
            { "id": "e5", "name": "scheduledAt", "value": "={{ $json.payload.scheduledAt }}", "type": "string" },
            { "id": "e6", "name": "dealTitle", "value": "={{ $json.payload.dealTitle }}", "type": "string" },
            {
              "id": "e7",
              "name": "alertMessage",
              "value": "=🔥 HOT LEAD ALERT\nName: {{ $json.payload.contactName }}\nScore: {{ $json.payload.score }}/100\nCall scheduled: {{ $json.payload.scheduledAt }}\nDeal: {{ $json.payload.dealTitle }}\nCheck CRM immediately.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-extract",
      "name": "Extract Alert Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.META_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.META_ACCESS_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "messaging_product", "value": "whatsapp" },
            { "name": "to", "value": "={{ $env.JATIN_WHATSAPP }}" },
            { "name": "type", "value": "text" },
            {
              "name": "text",
              "value": "={{ JSON.stringify({body: $json.alertMessage}) }}"
            }
          ]
        },
        "options": { "ignore4xx": true }
      },
      "id": "node-send-alert",
      "name": "Send WhatsApp Alert to Jatin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://web-production-311da.up.railway.app/jobs/{{ $('Extract Alert Fields').item.json.jobId }}/complete",
        "options": {}
      },
      "id": "node-complete",
      "name": "Mark Job Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Extract Alert Fields", "type": "main", "index": 0 }]]
    },
    "Extract Alert Fields": {
      "main": [[{ "node": "Send WhatsApp Alert to Jatin", "type": "main", "index": 0 }]]
    },
    "Send WhatsApp Alert to Jatin": {
      "main": [[{ "node": "Mark Job Complete", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["queue", "alerts"],
  "triggerCount": 0,
  "updatedAt": "2026-03-18T00:00:00.000Z",
  "versionId": "1"
}
